body {
  background-color: #fffaf4;
}

a {
  color: #ab5c5cc0;
  font-weight: 400;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}
header {
  margin-bottom: 30px;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #ab5c5c;
  font-family: "Krub", sans-serif;
  text-align: center;
}

main {
}
form {
  padding: 30px;
  background-color: #e8e0d2b5;
  box-shadow: 0px 20px 30px #bbb4a899;
  border-radius: 5px;
  display: flex;
  margin-bottom: 30px;
}

.instructions {
  padding: 16px;
  border: 1px solid #c1b9aaca;
  width: 80%;
  font-size: 15px;
  border-radius: 5px;
  line-height: 20px;
}

.submit-button {
  margin-left: 10px;
  background: #ab5c5cc0;
  border: none;
  border-radius: 10px;
  color: whitesmoke;
  padding: 14px 24px;
  width: 100px;
}

.poem {
  font-size: 16px;
  background-color: #fffdfae7;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #89abc9;
  box-shadow: 0px 20px 30px 0px #bbb4a899;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 24px;
  color: #475d70;
}

footer {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
  font-family: "Krub", sans-serif;
  color: #95856ab5;
}
